*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#222;
    color:#fff;
    font-family: sans-serif;
}

.container{
    width:70%;
    margin: auto;
   
}

.header{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
    line-height: 1.8;
    font-weight: 700;
}

input{
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #111;
    color:white;
}

input:focus{
    background-color: #000;
}


.product-price input{
    width: 20%;
}

/* .product-price{
    display: flex;
    align-items: center;
    justify-content:space-around;
} */

#total{
    background-color: rgba(154, 43, 3, 0.9);
    padding:6px 2px;
    border-radius: 4px;
}

#total::before{
    content: 'Total : ';
}

button{
    width:100%;
    padding: 15px 4px;
    background-color: #2f0044;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    outline:none; 
    transition: .5s;
   
}

button:hover{
    background-color: #3a0751;
    letter-spacing: 2px;
}

.type-search button{
    width:48%;
    margin: 10px;
}

table{
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

table tr button{
    width: 60%;
    margin: 5px;
}

table tr button:hover{
   letter-spacing: 0;
}

table th{
    text-transform: uppercase;
}

th,td{
    padding:5px;
}

.scroll-up{
    width:40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: none;
}